<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
   <img src="/NORDIC ROSE.png" alt="">
    <nav>
        <ul id="nav_container">
            <li class="active" id="all"><a onclick="myActive()" href="/">ALL</a></li>
            <li class="" id="new"><a onclick="myActive()"  href="/newArticle">NEW ARTICLE</a></li>
        </ul>
    </nav>
    </header>
