<%- include('./partials/head')%>

<%- include('./partials/footer')%>
<section id="add">
<h1>ADD NEW ARTICLE</h1>
<form action="/new" method="POST">
<input placeholder="Title" type="text" name="title" id="">
<input placeholder="Url Picture" type="text" name="url_pic" id="">
<input placeholder="Author" type="text" name="author" id="">
<input placeholder="Author Picture" type="text" name="author_pic" id="">
<textarea placeholder="Write your article here..." name="article" id="" cols="30" rows="10"></textarea>
<input type="submit" value="SEND ARTICLE">
</form>
</section>
<script src="/main.js"></script>
</body>
</html>