@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1em 5em;
}

nav ul {
    display: flex;
  
}
nav li {
    list-style: none;
    padding-left: 5em;
}
nav a {
    letter-spacing: 0.12em;
    color: black;
    text-decoration: none;
}
.hero {
    border-top: 1px solid black;
}
.active {
    text-decoration: underline;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5em;
}
.hero img {
    margin: 5em 0
}
.hero h1{
    font-size: 2em;
    width: 60%;
    padding: 0 5em
}
.hero div {
    border-bottom: 1px solid black;
    width: 50%;
    padding-top: 5em
}
.new h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3em;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    margin-bottom: 4em;

}
#all {
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
}
.blogs img {
    height: 300px;
    object-fit: cover;
}
.blogs img:hover {
    opacity: 0.5;
}
.blogs figcaption {
    font-family: 'Fira Code', monospace;
    padding: 1em 15em
}
.blogs div {
    width: 100%;
    margin: 1em auto
}
footer {
    background: black;
    color: white;
    text-align: center;
}
footer a {
    color: white;
    font-family: 'Fira Code', monospace;
}
footer p:first-of-type {
word-spacing: 2em;
padding-bottom: 2em;
padding-top: 1em;
font-family: 'Fira Code', monospace;
}
footer p:nth-of-type(2) {
    padding: 2em 10em;
}
footer ul {
    display: flex;
    justify-content: center;
}
footer li {
    list-style: none;
    padding-left: 1em;
    padding-bottom: 2em;
}
footer p:nth-of-type(3) {
    padding: 2em 50em;
    font-size: 0.7em;
    font-family: 'Fira Code', monospace;
}
.eyes {
    width: 100%
}
#add article {
    text-align: center;
}
#add h1 {
    padding-top: 2em;
    font-size: 2em;
    font-weight: 400;
}
#add div {
    width: 50px;
    border-top: 4px solid black;
    display: inline-block;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 5em
}
form input, textarea {
    background: #E5E5E5;
    border-radius: 5px;
    border: #E5E5E5;
    padding: 2em
}
form input[type=submit] {
    background: black;
    color: white;
}
.single {
    padding-bottom: 2em
}
.single h1+img {
    width: 100%;
}
.single h1 {
    text-align: center;
    padding: 2em 7em 4em 7em;
    font-size: 3em;
}
.single article {
    width: 40%;
    border-top: 3px solid black;
    margin-top: 2em
}
#article_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#div_container {
    display: flex;
    margin: 1em 0;
}
#div_container div {
margin-left: 1em
}
#div_container img {
    border-radius: 50%;
}
#div_container span {
    font-family: 'Fira Code', monospace;
}
#div_container p {
    font-weight: bold;
    font-family: 'Fira Code', monospace;
}
.content {
    line-height: 170%;
}
#upload {
    text-align: center;
}
#upload h1 {
    padding-top: 2em;
    font-size: 1.5em;
    font-weight: 400;
}
#upload h1+div {
    width: 40px;
    border-top: 2px solid black;
    display: inline-block;
}
#my_uploads {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
padding: 5em
}
#upload form {
    padding-bottom: 0
}

@media only screen and (max-width: 320px) {
    .hero div {
        width: 100%
    }
    .hero {
        padding-bottom: 2em;
    }
    .blogs {
        display: unset;
    }
    .blogs img {
        height: 150px;
        object-fit: cover;
    }
    #all {
        font-size: 2em;
    }
    .hero img {
        margin: 0;
        width: 100%
    }
    .hero h1{
        font-size: 1em;
        width: 100%;
        padding: 2em 1em
    }
    .hero div {
        border-bottom: 1px solid black;
        width: 100%;
        padding-top: 0;
    }
    .blogs figcaption {
        font-family: 'Fira Code', monospace;
        padding: 1em 5em
    }
    nav ul {
        display: unset;
    }
    nav li {
        padding-left: 0
    }
    header {
        margin: 1em 2em;
    }
    header>a {
        width: 70%
    }
    header a img {
        width: 80%
    }
    nav a {
        letter-spacing: 0.1em;
        font-size: 0.7em;
    }
    footer {
        overflow: hidden
    }
    footer p:first-of-type {
        width: 230%;
        word-spacing: 1em;
        padding-bottom: 2em;
        padding-top: 1em;
        font-family: 'Fira Code', monospace;
        font-size: 0.7em;
        }
    footer img {
width: 80%
    }
    footer p:nth-of-type(2) {
        padding: 2em 3em;
        font-size: 0.9em;
    }
    footer a {
        font-size: 0.9em
    }
    footer p:nth-of-type(3) {
        padding: 2em;
        font-size: 0.7em;
        font-family: 'Fira Code', monospace;
    }
    #add h1 {
        font-size: 1em;
    }
    form input, textarea {
        padding: 1em
    }
    .new h1 {
        font-size: 1em;
    }
    #upload h1 {
        font-size: 0.8em;
        padding-top: 1em;
    }
    form {
        padding: 1em;
    }
    #upload input {
        padding-left: 0.2em;
        padding-right: 0;
    }
    #my_uploads { 
    padding: 1em;
    display: unset;
}
#my_uploads img {
    width: 50%
}
.single h1 {
    padding: 2em;
    font-size: 1.5em;
}
#article_container {
    display: unset;
}
#div_container {
    margin: 1em;
    padding-top: 0.5em;
    border-top: 1.5px solid black;
}
#div_container img {
    width: 100px;
    height: 100px
}
#div_container span {
    font-size: 0.7em
}
.single article {
    padding: 0 1em;
    border-top: none;
    width: 100%
}

}
